joblib==1.2.0
joblib==1.1.1
pandas==1.5.3
pandas==2.0.3
pycaret==3.3.0
streamlit==1.32.0
streamlit==1.33.0
streamlit_option_menu==0.3.12
streamlit_ydata_profiling==0.2.1
ydata_profiling==0.0.dev0
ydata_profiling==4.7.0
ydata_profiling.egg==info
